@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.hero, footer, footer a, .hero a{
    background-color: #1f2937;
    color: #f9faf8;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 0px 150px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.nav-logo, footer, .footer-cephdev{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #e5e7eb;
}

.nav-logo img, .footer-cephdev img{
    max-width: 60px;
    height: auto;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 16px;
}
.nav-li a{
    padding: 0 16px;
    color: #e5e7eb;
    font-size: 18px;
    /* text-decoration: none; */
}

.intro{
    max-height: 70vh;
    display: flex;
    align-items: flex-start;
    padding: 70px 0px 100px;
    justify-content: space-between;
    /* gap: 50px; */
}

.left-intro h2{
    font-size: 48px;
    font-weight: bolder;
}

.left-intro p{
    margin-bottom: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-intro a{
    background-color: #3282f6;
    padding: 10px 27px;
    border-radius: 7px;
    font-weight: 530;
}

.right-intro div{
    background-image: url('images/music.png');
    width: 450px;
    height: 250px;
    background-position-y: 13%;
    background-size: cover;
    opacity: 90%;
    margin-left: 70px;
    border-radius: 10px;
    flex-shrink: 0;
}

.rand-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 150px 100px;
    gap: 54px;
    background-color: #f9faf8;
}

.rand-info h2{
    font-size: 36px;
    color: #1f2937;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 501;
    gap: 54px;
}

.window .img-sample{
    width: 170px;
    height: 170px;
    border: 2px solid #3282f6;
    border-radius: 30px;
    margin: 0px auto 19px;
    box-shadow: 0 10px 7px #1f2937;
}

.window:nth-of-type(1) .img-sample{
    background-image: url('images/turkana.png');
    background-size: cover;
    background-position: center;
}

.window:nth-of-type(2) .img-sample{
    background-image: url('images/bend.png');
    background-size: cover;
    background-position: center;
}

.window:nth-of-type(3) .img-sample{
    background-image: url('images/timber.png');
    background-size: cover;
    background-position-y: 15%;
    /* background-position: top; */
}

.window:nth-of-type(4) .img-sample{
    background-image: url('images/lovers.png');
    background-size: cover;
    background-position: center;
}

blockquote{
    padding: 100px 150px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
}

#quote{
    text-align: right;
    font-weight: 500;
}

.call{
    padding: 100px 150px;
    
}

.call-container{
    background-color: #3282f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 50px 100px;
}

.call-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-box .button a{
    text-decoration: none;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 10px 27px;
    border-radius: 7px;
    font-weight: 530;
}

footer{
    height: 80px;
    justify-content: center;
    gap: 100px;
}

.footer-cephdev{
    gap: 5px;
}


